/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--maroon);
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  z-index: 10;
}


.nav-logo img {
  height: 44px;   /* bigger logo */
  width: auto;
}


.text-logo {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}

.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}



.hamburger {
  font-size: 22px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


.nav-menu {
  position: absolute;
  top: 56px;
  right: 0;
  background: var(--maroon);
  width: 100%;
  display: none;
  flex-direction: column;
}
body {
  padding-top: 70px;
}


.nav-menu a {
  color: white;
  text-decoration: none;
  padding: 16px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
}

:root {
  --maroon: #5b1d1d;
  --maroon-dark: #431414;
  --background: #faf8f6;
  --text: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--background);
  color: var(--text);
}

/* HERO */
.hero {
  position: relative;
  
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0)
  );
}


.hero-img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: white;
  z-index: 2;
}

.brand-name {
  font-size: 32px;
  letter-spacing: 1px;
}

.tagline {
  font-size: 14px;
  opacity: 0.9;
}

/* PRODUCTS */
.products {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.product-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.product-info {
  padding: 14px;
}

.product-name {
  font-size: 16px;
  margin-bottom: 6px;
}

.price {
  font-size: 14px;
  color: var(--maroon);
  margin-bottom: 12px;
}

/* BUTTON */
.buy-btn {
  display: block;
  text-align: center;
  padding: 12px;
  background: var(--maroon);
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
}

.buy-btn:active {
  background: var(--maroon-dark);
}

/* FOOTER */
.footer {
  padding: 30px;
  text-align: center;
  font-size: 12px;
  color: #666;
}
.hero-btn {
  display: inline-block;
  margin-top: 16px;
  padding: 12px 28px;
  background: var(--maroon);
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.6px;
}

.hero-btn:hover {
  opacity: 0.95;
}

